<a href="https://colab.research.google.com/github/shahidmonowar/hello-world/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
digit1=int(input("what is your number?"))
digit2=int(input("what is your number?"))
sum= digit1+digit2
print(sum)

what is your number?15
what is your number?15
30

**collection**

In [10]:
#list
mylist = [2,4,6,8,10]
print(mylist[1])
print(type(mylist))

4
<class 'list'>

In [11]:
#dictionary
mydict={"shahid":500, "monowar":300}
print(mydict["monowar"])

300

In [6]:
name = "shahid"
id= 2737
print("my name is %s and id no. is %s." %(name, id))

my name is shahid and id no. is 2737.

#**Conditional statement**

In [7]:

x=int(input())
if x==10:
  print("pass")
elif x>10:
  print("more than 10")
else:
  print("fail")

12
more than 10

#**Loop**

In [12]:
for x in mylist:
  print(x)

2
4
6
8
10

In [14]:
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

#**Function**

In [21]:
def method():
  print("function")

In [22]:
method()

function

In [24]:
def math(x,y):
  t= x*y
  return t

In [25]:
a=int(input("inter your value of a ="))
b=int (input("inter your value of b ="))
math(a,b)

inter your value of a =5
inter your value of b =6

30

In [31]:
#use of build in function
mylist = [2,4,6,8,10]
mylist.pop()
print(mylist)
mylist.remove(4)
print(mylist)

[2, 4, 6, 8]
[2, 6, 8]

In [32]:

def print_square_value(numbers):
  for number in numbers:
    if number%2==0:
      squared = number*number
      print(squared)

numbers = [1, 2, 3, 4]
print_square_value(numbers)

4
16